.aboutPage {
  p {
    max-width: 700px;
    @include breakpointLaptop {
      text-align: center;
      margin: 10px auto;
    }
  }
  .header-description {
    margin-bottom: 10px;
    margin-top: 0px;
  }
  .header {
    margin-top: -20px;
    margin-bottom: 0px;
    @include breakpointLaptop {
    }
  }
}
.header-leadership {
  margin-top: -20px;
  margin-bottom: -0px;
}

#mission-vision {
  .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 0px;
    justify-content: space-between;

    & > div {
      padding-bottom: 16px;
      border-radius: 22px;
      border: 1px solid $primary-color;
      border-top: none;

      h2 {
        padding: 8px;
        font-size: 22px;
        text-align: center;
        font-weight: 500;
        text-align: center;
        background-color: $primary-color;
        color: $white;
        border-top-left-radius: 22px;
        border-top-right-radius: 22px;
      }
      p {
        font-size: 14px;
        line-height: 1.4;
        padding: 10px;
        text-align: center;
      }
    }

    @include breakpointDynamic(700px) {
      & {
        flex-direction: row;
      }
    }
  }
}

.teamAbout {
  .bg-blue {
    margin-bottom: 1rem;
  }
  .team-container-about {
    gap: 0px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

    .team-box {
      padding-block: 16px;
      max-width: 200px;

      .img {
        width: 100%;
        height: unset;
        min-height: 200px;

        img {
          height: 230px;
          width: 100%;
          border-radius: 8px;
          object-fit: cover;
        }
      }

      h3 {
        font-size: 16px;
      }
      .title {
        font-size: 12px;
      }

      .position-container {
        gap: 10px;
        p {
          text-align: left;
          font-size: 12px;
        }

        .profile-links {
          width: 35%;
          img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
  @include breakpointDynamic(820px) {
    .team-container-about {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

      .team-box {
        max-width: 210px;
      }
    }
  }
}
