// about us
.about {
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

// services
.services {
  text-align: center;
  padding-bottom: 20px;

  .btn {
    display: inline-block;
    margin-top: 1rem;
  }
}

// stats
.stats {
  background-color: $primary-color;
  text-align: center;
  .container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 2rem;
    & > div {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
      color: $white;
      width: 100%;
      gap: 10px;
      overflow: hidden;
    }
    span {
      font-size: 12px;
      line-height: 1;
    }
    h2 {
      line-height: 0;
      font-size: 24px;
      margin: 0;
      padding: 10px;
      span {
        font-size: 24px;
        margin: 0;
      }
    }
  }
  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    text-align: center;
    border-radius: 4px;
    @include breakpointTablet {
      width: 80px;
      height: auto;
    }
    @include breakpointLaptop {
      width: 110px;
    }
  }
}

// our team
.team {
  text-align: center;
  hr {
    margin: 50px auto 0px;
  }
  .mw {
    margin-bottom: 1.5rem;
  }
}

// testimonial
.testimonials {
  .testimonial-container {
    padding-top: 1rem;
    display: flex;
    gap: 32px;
    justify-content: center;
    flex-wrap: wrap;

    .testimonial-box {
      min-width: 180px;
      max-width: 230px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      text-align: center;
      background-color: $bg-grey;
      border-radius: 8px;
      padding: 16px 10px;

      p {
        font-size: 16px;
        font-weight: normal;
      }

      img {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 100%;
        background-color: $text-muted;
      }
    }
  }
}

// recent activities

// support us
.support-us {
  text-align: center;
  max-width: 510px;
  margin: auto;

  p {
    margin-bottom: 2rem;
  }
}

// faqs section
.faqs {
  max-width: 768px;
  margin-inline: auto;

  .faqs-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .faq {
      cursor: pointer;
      width: 100%;
      border: 1px solid $black;
      padding: 10px;
      margin-top: 15px;
      &:hover {
        cursor: pointer;
      }

      .question {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        align-items: start;

        i {
          color: $text-muted;
        }
      }
      .answer {
        margin-top: 10px;
        color: $text-muted;
        display: none;
      }
      .question.active i {
        transform: rotate(180deg);
      }
      .answer.active {
        display: inline-block;
      }
    }
  }
}

// partners
.partners {
  background-color: $blue;
  color: $black;
  padding: 10px;
  padding-block: 1rem;

  .header,
  .header-description {
    color: $white;
  }
  .partner-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;

    img {
      width: 30px;
      height: 30px;
      max-width: 120px;
      background-color: $white;
      border-radius: 8px;

      @include breakpointLaptop {
        width: 100px;
        height: 100px;
      }
    }
    @include breakpointTablet {
      justify-content: center;
      gap: 2rem;
    }
  }
}
