#concour{

    .concour-boxes{
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr;
        padding: 10px;

        @include breakpointLaptop{
            grid-template-columns: 1fr 1fr;
        }

        .concour-box{
            max-width: 558px;
            margin: auto;

            .tab{
                border: 1px solid $blue;
                border-radius: 10px;
                box-shadow: $box-shadow;
                margin-top: 1rem;

                .tab-menu ul{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                        border-top-left-radius: 6px;
                        border-top-right-radius: 6px;
                }


                .tab-menu ul li{
                    display: inline;
                    background-color: white;
                    cursor: pointer;
                    width: 110px;
                    text-align: center;
                    padding: 10px;
                    border: 1px solid rgb(173, 165, 165);
                    min-width: 100px;

                    &:hover{
                        background-color: $blue;
                        color: $white;
                        transition: 0.3s ease;
                    }
                }
                .tab-menu ul li.active{
                    background-color: $blue;
                    color: $white;
                }
                
                .tab-content{
                    padding: 10px;


                    .concour-link{
                            display: flex;
                            gap: 10px;
                            align-items: center;
                            justify-content: center;
                            color: $blue;
                            font-size: 1rem;
                            text-decoration: underline;
                            letter-spacing: 2px;

                            span{
                                color: $blue;
                                font-size: 1rem;    
                            }
                        }
                    li{
                        margin:unset;
                    }
                    p{
                        font-size: 14px;
                    }
                    h3{
                        text-decoration: underline;
                    }

                    .requirements{
                        display: grid;
                        grid-template-columns: 1fr;
                        justify-content: space-between;
                        align-items: center;
                        margin-left: 1rem;

                        @include breakpointTablet{
                            grid-template-columns: 1fr 1fr;
                            gap: 1rem;
                        }
                    }

                    *{
                        list-style: disc;
                    }
                    
                h2{
                    font-size: 22px;
                    color: $blue;
                    margin: 0;
                }
                span{
                    color: $text-muted;
                    font-size: 14px;
                }
                }
                .tab-content > div{
                        display: none;
                    }
                    .tab-content > div.active{
                    display: block;
                }
            }
        }
    }
}