.header{
    text-align: center;
    font-size: 22px;
    color: $blue;
    text-decoration: underline;


    @include breakpointTablet{
        font-size: 48pxpx;
    }
}

.header-description{
    text-align: center;
    max-width: 500px;
    font-size: 14px;
    color: $text-muted;
    margin: -15px auto 12px;
   }

   .mw{
    max-width: 500px;
    margin: auto;
    margin-block: 15px;
   }

   .sub-header{
    @extend .header;
    font-size: 1.3rem;
   }