// hero
.hero {
  // background-image: ;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./img/Staffs2.jpg);
  background-color: #00000052;
  background-position: center;
  height: auto;

  .container {
    min-height: 375px;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    line-height: 1.2;
    margin-top: 36px;
    background-color: #0000001f;
    justify-content: center;
    height: 60vh;

    @include breakpointTablet {
      height: 65vh;
    }

    @include breakpointLaptop {
      padding-inline: 4rem;
      height: 100vh;
    }

    p {
      color: $white;
      font-weight: 600;
      font-size: 14px;
      @include breakpointTablet {
        font-size: 18px;
        max-width: 600px;
      }
    }

    h1 {
      max-width: 600px;

      color: $white;
      font-size: 32px;
      @include breakpointTablet {
        font-size: 48px;
      }
    }
  }
}
