// hero
.hero {
  margin-top: 45px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./assets/img/hero/Staffs2.jpg);
  background-color: rgba(0, 0, 0, 0.4);
  background-position: center;
  height: auto;

  .container {
    min-height: 375px;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    line-height: 1.2;
    margin-top: 36px;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    height: 60vh;

    p {
      color: $white;
      font-weight: 600;
      font-size: 14px;
      text-align: center;
      @include breakpointTablet {
        font-size: 18px;
      }
    }

    h1,
    h2 {
      text-align: center;
      color: $white;
      font-size: 32px;
      @include breakpointTablet {
        font-size: 48px;
      }
    }

    @include breakpointTablet {
      height: 65vh;
    }

    @include breakpointLaptop {
      padding-inline: 4rem;
      height: 100vh;
    }
  }
}

.hero-home {
  p {
    text-align: left !important;
    max-width: 750px;
  }

  h1,
  h2 {
    max-width: 750px;
    text-align: left !important;
  }
}
