body.no-scroll{
    overflow: hidden;
}

// mobile nav 
.mobile-nav-menu.active{
    right: 0;
}
.mobile-nav-menu{
min-width: 293px;
max-width: 400px;
position: fixed;
top: 0;
height: 100vh;
right: -200%;
text-align: center;
padding: 20px;
box-shadow: $box-shadow;
transition: .3s ease-in;
background-color: $white;
z-index: 11;


.close{
    display: flex;
    justify-content: space-between;
}

nav{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    margin-block: 3rem;

    a{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        width: 50%;
        color: $black;
        &:hover{
            color: $blue;                    
            font-weight: 600;
        }
    }

    a.active{
        color: $blue;
    }

 
    .btn{
        color: $white;
        &:hover{
            color: $white;
        }
    }

}
   .socials-nav{
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        margin-block: 2rem;
    
        a{
            color: $black;
        &:hover{
            color: $blue;
        }
    }
    }
}


// desktop nav
  header nav:nth-child(2){
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    background-color: $white;
    padding: 1rem;
    box-shadow: $box-shadow;


    ul{
        display: none;
        gap: 2rem;        
        
        @include breakpointLaptop{
        display: flex;
    }
        a{
            color: $black;
            position: relative;

            &:hover{
                color: $blue;
            }
        }

        a::before{
            content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: $blue;
    transition: width 0.3s;
        }
        a.active::before, a:hover::before{
            width: 100%;
        }
a.btn:hover::before{
    width: 0;
        }

        a.active{
            color: $blue;
        }
        .btn{
            color: $white;
        
        &:hover{
            color: $white !important;
        }
        }
    }
  }

  .menu{
    @include breakpointLaptop{
        display: none !important;
    }
  }

  .overlay-nav{
    width: 100%;
    height: 100vh;
    position: fixed;
    backdrop-filter: blur(4px);
    top: 0;
    display: none;
    left: 0;
    right: 0;
    z-index: 7;        
    transition: 0.3s ease-in;
  }
  .overlay-nav.active{
    display: block;

  }
