#preloader{
    background-color: #f1f2f3;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 101;
    background-image: url(../assets/img/loader-200px.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px;

    @include breakpointLaptop{
        background-size: 100px;
    }
}