//utility classes
*{
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    outline: none;
}

img{
    width: 100%;
}

i{
    font-size: 24px;
    cursor: pointer;
}
button{
    cursor: pointer;
}

hr{
    margin-block: 30px;
}